<%- include("../partials/top") %>

<h1><%= user.fullName %> </h1>

<p>Dashboard</p>

<table class="ui celled table unstackable">
    <thead>
        <tr>
            <th>Title</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <% user.posts.forEach(post => { %>

        <tr>
            <td data-label="Title"><%= post.title %> </td>
            <td data-label="Status">Public</td>
            <td data-label="Actions">
                <a class="ui button teal" href="/books/<%= post._id%>/edit">
                    <i class="edit outline icon"></i> Edit
                </a>

                <form action="/books/<%= post._id%>?_method=DELETE" method="POST" style="display: inline;">
                    <button class="ui button red" onclick="return confirm('Click Ok to delete post.');">
                        <i class="trash alternate outline icon"></i> Delete
                    </button>
                </form>

            </td>
        </tr>

        <% }) %>
    </tbody>
</table>


<%- include("../partials/bottom") %>