<%- include("./../partials/top") %>

<div class="ui grid centered">
  <!-- column -->
  <div class="sixteen wide mobile fourteen wide tablet twelve wide computer column">
    <h3>Search</h3>
    <!-- Form -->
    <form class="ui form" method="GET">
      <!-- first 2 fields -->
      <div class="fields">
        <div class="field eight wide">
          <label>by Title</label>
          <input name="title" type="text" value="<%= searchOptions.title %>">
        </div>
        <div class="field eight wide">
          <label>by Author</label>
          <input name="author" type="text" value="<%= searchOptions.author %>">
        </div>
        <div class="field eight wide">
          <label>by Genre</label>
          <input name="genre" type="text" value="<%= searchOptions.genre %>">
        </div>
      </div>

      <!-- second 3 fields and submit button -->
      <div class="fields">
        <div class="field four wide">
          <label>by Published before</label>
          <input name="publishBefore" type="date" value="<%= searchOptions.publishBefore %>">
        </div>
        <div class="field four wide">
          <label>by Published after</label>
          <input name="publishAfter" type="date" value="<%= searchOptions.publishAfter %>">
        </div>
        <div class="field four wide">
          <label for="">by Language</label>
          <select class="ui dropdown" name="language">
            <option value="">Select</option>
            <option value="english">English</option>
            <option value="bengali"> Bengali</option>
          </select>
        </div>
        <div class="field four wide">
          <label>&nbsp;&nbsp;&nbsp;</label>
          <input type="submit" value="Search" class="ui grey submit button fluid">
        </div>
      </div>
    </form>
  </div>
</div>

<h4 class="ui horizontal divider header">
  BOOKS
</h4>

<!-- Show books section -->

<div class="ui grid container">

  <% if (books.length === 0) { %>
  <h4>No book available.<a href="/books/new"> Add a book</a></h4>
  <% } %>

  <% books.forEach((book, index) => { %>

  <div class="sixteen wide mobile seven wide tablet four wide computer column">
    <div class="ui card link">

      <div class="content">
        <a class="header" href="/books/<%= book._id %>">
          <%= book.title %> </a>
        <span id="card__author">by <a href="/<%= book.author %>/books"> <%= book.author %></a> </span>
      </div>

      <a class="image" href="/books/<%= book._id %>">
        <img src="<%= book.coverImg.url %>">
      </a>

      <div class="content">
        <div class="right floated meta"><%= dateFormat(book.createdAt) %></div>
        <img class="ui avatar image" src="<%= book.creator.thumbnail %>">

        <a id="tooltip" href="/profile/<%= book.creator._id %>" data-tippy-content="<%= book.creator.username%>">
          
          <%= locals.user && book.creator._id.equals(user.id) 
          ? "You" 
          : book.creator.username.length <= 8 ? book.creator.username : book.creator.username.substring(0, 8) + "..." %>  

        </a>
      </div>

      <div class="extra content">
        <span class="right floated">
          <i class="heart like icon <%= !book.likedUsers.includes(locals.user && user.id) && "outline" %> <%= !user && "disable" %>" data-bookid="<%= book._id %>" data-userid="<%= locals.user && user.id %>"></i> 

          <span class="like-section" data-user="<%= book._id %>" data-span="<%= book._id %>"><%= book.likes %> likes</span>
          
        </span>
        <i class="comment icon"></i> <%= book.comments.length %> comments
      </div>
    </div>
  </div>
  <% }) %>

</div>

<%- include("./../partials/bottom") %>