<%- include("./../partials/top") %>

<div class="ui grid centered">
  <!-- column -->
  <div class="sixteen wide mobile fourteen wide tablet twelve wide computer column">
    <!-- Form -->
    <form class="ui form" method="GET">
      <!-- first 2 fields -->
      <div class="fields">
        <div class="field eight wide">
          <label>Title</label>
          <input name="title" type="text" value="<%= searchOptions.title %>">
        </div>
        <div class="field eight wide">
          <label>Author</label>
          <input name="author" type="text" value="<%= searchOptions.author %>">
        </div>
      </div>

      <!-- second 3 fields and submit button -->
      <div class="fields">
        <div class="field four wide">
          <label>Published Before</label>
          <input name="publishBefore" type="date" value="<%= searchOptions.publishBefore %>">
        </div>
        <div class="field four wide">
          <label>Published After</label>
          <input name="publishAfter" type="date" value="<%= searchOptions.publishAfter %>">
        </div>
        <div class="field four wide">
          <label for=""> Language</label>
          <select class="ui dropdown" name="language">
            <option value="">Select</option>
            <option value="english">English</option>
            <option value="bengali"> Bengali</option>
          </select>
        </div>
        <div class="field four wide">
          <label>&nbsp;&nbsp;&nbsp;</label>
          <input type="submit" value="Search" class="ui grey submit button fluid">
        </div>
      </div>
    </form>
  </div>
</div>

<h4 class="ui horizontal divider header">
  <i class="book icon"></i>
  Books
</h4>

<!-- Show books section -->

<!-- pass backend data to frontend  -->
<span id="length" data-length=<%= books.length %>></span>
<div class="ui centered grid container">

  <% books.forEach((book, index) => { %>

  <div class="sixteen wide mobile seven wide tablet four wide computer column">
    <div class="ui card centered link">
      <div class="content">
        <div class="right floated meta"><%= dateFormat(book.publishDate) %></div>
        <img class="ui avatar image" src="<%= book.creator.thumbnail %>">

        <!-- pass backend data to frontend  -->
        <span id="tooltip<%= index %>" data-tooltip=<%= book.creator.username %>></span>

        <a id="tooltip<%= index %>" href="#"><%= book.creator.username.substring(0, 8) %>... </a>
      </div>

      <div class="image">
        <img src="<%= book.coverImageUrl %>">
      </div>

      <div class="content">
        <a class="header" href="/books/<%= book._id %>"> <%= book.title %> </a>
        <span id="card__author">by <%= book.author %> </span>
      </div>
      <div class="extra content">
        <span class="right floated">
          <i class="heart outline like icon"></i>17 likes
        </span>
        <i class="comment icon"></i> 3 comments
      </div>
    </div>
  </div>
  <% }) %>


</div>

<%- include("./../partials/bottom") %>