<%- include("./../partials/top") %>

<div class="ui grid centered">
    <!-- column -->
    <div class="sixteen wide mobile fourteen wide tablet twelve wide computer column">
        <!-- Form -->
        <form class="ui form add-book" method="GET">
            <!-- first 2 fields -->
            <div class="fields">
                <div class="field eight wide">
                    <label>Title</label>
                    <input name="title" type="text" value="<%= searchOptions.title %>">
                </div>
                <div class="field eight wide">
                    <label>Author</label>
                    <input name="author" type="text" value="<%= searchOptions.author %>">
                </div>
            </div>

            <!-- second 3 fields and submit button -->
            <div class="fields">
                <div class="field four wide">
                    <label>Published Before</label>
                    <input name="publishBefore" type="date" value="<%= searchOptions.publishBefore %>">
                </div>
                <div class="field four wide">
                    <label>Published After</label>
                    <input name="publishAfter" type="date" value="<%= searchOptions.publishAfter %>">
                </div>
                <div class="field four wide">
                    <label for=""> Language</label>
                    <select class="ui dropdown" name="language">
                        <option value="">Select</option>
                        <option value="english">English</option>
                        <option value="bengali"> Bengali</option>
                    </select>
                </div>
                <div class="field four wide">
                    <label>&nbsp;&nbsp;&nbsp;</label>
                    <input type="submit" value="Search" class="ui grey submit button fluid">
                </div>
            </div>
        </form>
    </div>
</div>

<h4 class="ui horizontal divider header">
    <i class="book icon"></i>
    Books
</h4>

<div class="ui centered grid container">

    <% books.forEach(book => { %>

    <div class="sixteen wide mobile five wide tablet four wide computer column ">
        <div class="ui card centered">
            <div class="content">
                <div class="right floated meta"><%= book.publishDate.toDateString() %></div>
                <!-- <img class="ui avatar image"
                src="https://f0.pngfuel.com/png/299/166/silhouette-of-person-illustration-png-clip-art-thumbnail.png">
            Elliot -->
                <p><i class="user circle outline icon large"></i> <a href="#">username</a> </p>
            </div>
            <div class="image">
                <img src="<%= book.coverImagePath %>">
            </div>
            <div class="content">
                <a class="header"><%= book.title %></a>
                <span id="card__author">by <%= book.author %> </span>
            </div>
            <div class="extra content">
                <span class="right floated">
                    <i class="heart outline like icon"></i>17 likes
                </span>
                <i class="comment icon"></i> 3 comments
            </div>
        </div>
    </div>
    <% }) %>


</div>

<%- include("./../partials/bottom") %>