<%- include("../partials/top") %>

<h4 class="ui horizontal left aligned divider header">
  <%= book.title %>
</h4>

<div class="ui grid">
  <!-- 1st grid ------------------------------------- -->
  <div class="five wide column">
    <div class="ui card">
      <div class="image">
        <img src="<%= book.coverImageUrl %>">
      </div>
      <div class="content">
        <div class="right floated meta"><%= book.publishDate.toDateString() %></div>
        <!-- <img class="ui avatar image"
                src="https://f0.pngfuel.com/png/299/166/silhouette-of-person-illustration-png-clip-art-thumbnail.png">
            Elliot -->
        <p><i class="user circle outline icon large"></i> <a href="#">username</a> </p>
      </div>

      <!-- edit button -->
      <a class="ui button teal book-edit-button" href="/books/<%= book._id %>/edit">
        <i class="edit outline icon"></i> Edit
      </a>

      <!-- delete button -->
      <form id="book-delete-form" action="/books/<%= book._id %>?_method=DELETE" method="POST">
        <button class="ui button red book-delete-button" onclick="return confirm('Click Ok to delete post.');">
          <i class="trash alternate outline icon"></i> Delete
        </button>
      </form>
    </div>
  </div>

  <!-- 2nd grid ------------------------------------- -->
  <div class="eleven wide column">
    <!-- author and description section -->
    <div class="ui segments">
      <!-- 1st segment -->
      <div class="ui segment">
        <% if (book.language) { %>
        <a class="ui tag label"><%= book.language %> </a>
        <% } %>
        <% if (book.pageNo) { %>
        <a class="ui tag label"><%= book.pageNo %> pages</a>
        <% } %>
        <% if (!book.language && !book.pageNo) { %>
        <a class="ui tag label">No details</a>
        <% } %>
      </div>
      <!-- 2nd segment -->
      <div class="ui segment">
        <h4 class="ui header"><%= book.author %> </h4>
        <p><%= book.description %></p>
        <a class="ui green button labeled submit icon" href="<%= book.pdfFileUrl %>">
          <i class="download icon"></i> Download PDF
        </a>
      </div>
    </div>


    <!-- comment section -->
    <h4 class="ui horizontal left aligned divider header">
      <i class="comment outline icon"></i>
      Comments
    </h4>

    <% book.comments.forEach(comment => { %>

    <div class="ui comments">
      <div class="comment">
        <a class="avatar">
          <img src="<%= comment.thumbnail %>">
          <!-- <i class="user circle outline icon big"></i> -->
        </a>
        <div class="content">
          <a class="author"><%= comment.author %> </a>
          <div class="metadata">
            <span class="date"><%= comment.createdAt.toDateString() %> </span>
          </div>
          <div class="text">
            <%= comment.content %>
          </div>
          <div class="actions">
            <a class="reply" href="/books/<%= book._id %>/comments/<%= comment._id %>/edit">Edit</a>
            <a class="reply">Delete</a>
          </div>
        </div>
      </div>
    </div>

    <% }) %>

    <!-- comment form -->
    <form class="ui reply form" action="/books/<%= book._id %>/comments" method="POST">
      <div class="eight wide field">
        <textarea rows="2" name="content"></textarea>
      </div>
      <button class="ui grey labeled submit icon button">
        <i class="icon edit"></i>Comment
      </button>
    </form>
  </div>

</div>

<%- include("../partials/bottom") %>