<%- include("../partials/top") %>

<h4 class="ui horizontal left aligned divider header">
    <%= book.title %>
</h4>

<div class="ui grid">
    <!-- 1st grid ------------------------------------- -->
    <div class="five wide column">
        <div class="ui card">
            <div class="image">
                <img src="<%= book.coverImagePath %>">
            </div>
            <div class="content">
                <div class="right floated meta"><%= book.publishDate.toDateString() %></div>
                <!-- <img class="ui avatar image"
                src="https://f0.pngfuel.com/png/299/166/silhouette-of-person-illustration-png-clip-art-thumbnail.png">
            Elliot -->
                <p><i class="user circle outline icon large"></i> <a href="#">username</a> </p>
            </div>
            <a class="ui button olive custom-button" href="/books/<%= book._id %>/edit">
                <i class="edit outline icon"></i> Edit
            </a>
            <a class="ui button red custom-button" href="#">
                <i class="trash alternate outline icon"></i> Delete
            </a>
        </div>
    </div>

    <!-- 2nd grid ------------------------------------- -->
    <div class="eleven wide column">
        <!-- author and description section -->
        <div class="ui segment">
            <h4 class="ui header"><%= book.author %> </h4>
            <p>Te eum doming eirmod, nominati pertinacia argumentum ad his. Ex eam alia facete scriptorem, est autem
                aliquip detraxit at. Usu ocurreret referrentur at, cu epicurei appellantur vix. Cum ea laoreet recteque
                electram, eos choro alterum definiebas in. Vim dolorum definiebas an. Mei ex natum rebum iisque.</p>
            <p>Audiam quaerendum eu sea, pro omittam definiebas ex. Te est latine definitiones. Quot wisi nulla ex duo.
                Vis sint solet expetenda ne, his te phaedrum referrentur consectetuer. Id vix fabulas oporteat, ei quo
                vide phaedrum, vim vivendum maiestatis in.</p>
            <p>Eu quo homero blandit intellegebat. Incorrupte consequuntur mei id. Mei ut facer dolores adolescens, no
                illum aperiri quo, usu odio brute at. Qui te porro electram, ea dico facete utroque quo. Populo quodsi
                te eam, wisi everti eos ex, eum elitr altera utamur at. Quodsi convenire mnesarchum eu per, quas minimum
                postulant per id.</p>

            <a class="ui green button labeled submit icon" href="<%= book.pdfPath %> ">
                <i class="download icon"></i> Download PDF
            </a>
        </div>


        <!-- comment section -->
        <h4 class="ui horizontal left aligned divider header">
            <i class="comment outline icon"></i>
            Comments
        </h4>

        <div class="ui comments">
            <div class="comment">
                <a class="avatar">
                    <!-- <img src="/images/avatar/small/matt.jpg"> -->
                    <i class="user circle outline icon big"></i>
                </a>
                <div class="content">
                    <a class="author">Matt</a>
                    <div class="metadata">
                        <span class="date">Today at 5:42PM</span>
                    </div>
                    <div class="text">
                        How artistic!
                    </div>
                    <div class="actions">
                        <a class="reply">Edit</a>
                        <a class="reply">Delete</a>
                    </div>
                </div>
            </div>
            <div class="comment">
                <a class="avatar">
                    <!-- <img src="/images/avatar/small/matt.jpg"> -->
                    <i class="user circle outline icon big"></i>
                </a>
                <div class="content">
                    <a class="author">Matt</a>
                    <div class="metadata">
                        <span class="date">Today at 5:42PM</span>
                    </div>
                    <div class="text">
                        How artistic!
                    </div>
                    <div class="actions">
                        <a class="reply">Edit</a>
                        <a class="reply">Delete</a>
                    </div>
                </div>
            </div>
            <div class="comment">
                <a class="avatar">
                    <!-- <img src="/images/avatar/small/matt.jpg"> -->
                    <i class="user circle outline icon big"></i>
                </a>
                <div class="content">
                    <a class="author">Matt</a>
                    <div class="metadata">
                        <span class="date">Today at 5:42PM</span>
                    </div>
                    <div class="text">
                        How artistic!
                    </div>
                    <div class="actions">
                        <a class="reply">Edit</a>
                        <a class="reply">Delete</a>
                    </div>
                </div>
            </div>
        </div>

        <!-- comment form -->
        <form class="ui reply form">
            <div class="eight wide field">
                <textarea rows="2"></textarea>
            </div>
            <div class="ui grey labeled submit icon button">
                <i class="icon edit"></i>Comment
            </div>
        </form>
    </div>

</div>

<%- include("../partials/bottom") %>