<%- include("./partials/top") %>


<section id="header">
  <h1>Bookshelf</h1>
</section>


<h4 class="home ui horizontal divider header">
  Recently Added
</h4>
<div class="ui grid">

  <% books.forEach(book => { %>
  <!-- new card -->

  <div class="sixteen wide mobile seven wide tablet four wide computer column">
    <div class="ui card link">

      <div class="content">
        <a class="header" href="/books/<%= book._id %>">
          <%= book.title %> </a>
        <span id="card__author">by <a href=""><%= book.author %></a> </span>
      </div>

      <a class="image" href="/books/<%= book._id %>">
        <img src="<%= book.coverImg.url %>">
      </a>

      <div class="content">
        <div class="right floated meta"><%= dateFormat(book.createdAt) %></div>
        <img class="ui avatar image" src="<%= book.creator.thumbnail %>">

        <a id="tooltip" href="/profile/<%= book.creator._id %>" data-tippy-content="<%= book.creator.username%>">
          <%= book.creator.username.length <= 8 ? book.creator.username : book.creator.username.substring(0, 8) %>... 
        </a>
      </div>

      <div class="extra content">
        <span class="like-section right floated">
          <i class="heart like icon <%= !book.likedUsers.includes(locals.user && user.id) && "outline" %> <%= !user && "disable" %>" data-bookid="<%= book._id %>" data-userid="<%= locals.user && user.id %>"></i> 

          <span class="like-section" data-user="<%= book._id %>" data-span="<%= book._id %>"><%= book.likes %> likes</span>
          
        </span>
        <i class="comment icon"></i> <%= book.comments.length %> comments
      </div>
    </div>
  </div>

  <% }) %>

</div>

<%- include("./partials/bottom") %>