<%- include("./../partials/top") %>

<div class="ui grid centered">
  <!-- column -->
  <div class="sixteen wide mobile fourteen wide tablet twelve wide computer column">
    <!-- Form -->
    <form class="ui form" method="GET">
      <!-- second 3 fields and submit button -->
      <div class="fields">
        <div class="field twelve wide">
          <input name="q" type="text" placeholder="Search..." value="<%= queryStr %> ">
        </div>
        <div class="field four wide">
          <!-- <label>&nbsp;&nbsp;&nbsp;</label> -->
          <input type="submit" value="Search" class="ui grey submit button fluid">
        </div>
      </div>
    </form>
  </div>
</div>





<div class="ui grid container">

  <% if (recipes.length === 0) { %>
  <h4>No recipe available.</h4>
  <% } %>

  <% recipes.forEach((recipe, index) => { %>

  <div class="sixteen wide mobile seven wide tablet four wide computer column">
    <div class="ui card link">

      <div class="image">
        <img src="<%= recipe.image %>">
      </div>
      <div class="content">
        <a class="header"><%= recipe.title %></a>
      </div>
    </div>
  </div>
  <% }) %>

</div>



<%- include("./../partials/bottom") %>